# **Лабораторная работа №1**
## **Работа с библиотекой pandas**
## **Вариант 1: Баскетбол**
**Цель работы**: познакомиться с использованием библиотеки pandas при решении
практических задач, связанных с анализом данных.

Проанализируем датасет о игроках баскетбольных команд. Датасет содержит информацию о имени, команде, номере игрока, амплуа, возрасте, росте и весе, образовании и зарплате. Набор данных включает следующие атрибуты:
* name – имя игрока;
* team – команда;
* number – номер игрока;
* position – амплуа;
* age – возраст игрока;
* height – рост игрока;
* weight – вес игрока;
* college – образование;
* salary – заработная плата.

## Задание 1. Импортируйте необходимые библиотеки

In [ ]:
import numpy as np
import pandas as pd

## Задание 2. Импортируйте набор данных из файла nba.csv и поместите его в датафрейм

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/ОмГТУ/3 курс/5 семак/Машинное обучение/1 лаба/nba.csv")

## Задание 3. Выведите 8 первых строк

In [ ]:
print(df.head(8))

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5   Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0

## Задание 4 Сколько строк и столбцов в наборе данных?

In [ ]:
print(f'Количество строк - {df.shape[0]}, количество - столбцов - {df.shape[1]}')

Количество строк - 458, количество - столбцов - 9

## Задание 5. Получите сводную информацию по датафрейму

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

## Задание 6. Что является индексом этого набора данных? Проиндексируйте набор данных по полю name

In [ ]:
df.index

RangeIndex(start=0, stop=458, step=1)

In [ ]:
df_copy=df.copy()
df_copy.set_index('Name')

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Задание 7. Сколько команд упоминается в наборе данных?

In [ ]:
print(df['Team'].nunique())

30

## Задание 8. Создайте несколько датафреймов, каждый из которых содержит сведения об игроках одной конкретной команды

In [ ]:
team_dfs = {}
for team in df['Team'].unique():
    team_dfs[team] = df[df['Team'] == team].copy()
print(team_dfs)

{'Boston Celtics':                Name            Team  Number Position   Age Height  Weight  \
0     Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1       Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2      John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3       R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4     Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
5      Amir Johnson  Boston Celtics    90.0       PF  29.0    6-9   240.0
6     Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0
7      Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0
8      Terry Rozier  Boston Celtics    12.0       PG  22.0    6-2   190.0
9      Marcus Smart  Boston Celtics    36.0       PG  22.0    6-4   220.0
10  Jared Sullinger  Boston Celtics     7.0        C  24.0    6-9   260.0
11    Isaiah Thomas  Boston Celtics     4.0       PG  27.0    5-9   185.0
12      Evan Turner  Boston Celtics    11.0       SG  27.0    6-7   220.0
13      James Young  Boston Celtics    13.0       SG  20.0    6-6   215.0
14     Tyler Zeller  Boston Celtics    44.0        C  26.0    7-0   253.0

              College      Salary
0               Texas   7730337.0
1           Marquette   6796117.0
2   Boston University         NaN
3       Georgia State   1148640.0
4                 NaN   5000000.0
5                 NaN  12000000.0
6                 LSU   1170960.0
7             Gonzaga   2165160.0
8          Louisville   1824360.0
9      Oklahoma State   3431040.0
10         Ohio State   2569260.0
11         Washington   6912869.0
12         Ohio State   3425510.0
13           Kentucky   1749840.0
14     North Carolina   2616975.0  , 'Brooklyn Nets':                        Name           Team  Number Position   Age Height  \
15         Bojan Bogdanovic  Brooklyn Nets    44.0       SG  27.0    6-8
16             Markel Brown  Brooklyn Nets    22.0       SG  24.0    6-3
17          Wayne Ellington  Brooklyn Nets    21.0       SG  28.0    6-4
18  Rondae Hollis-Jefferson  Brooklyn Nets    24.0       SG  21.0    6-7
19             Jarrett Jack  Brooklyn Nets     2.0       PG  32.0    6-3
20           Sergey Karasev  Brooklyn Nets    10.0       SG  22.0    6-7
21          Sean Kilpatrick  Brooklyn Nets     6.0       SG  26.0    6-4
22             Shane Larkin  Brooklyn Nets     0.0       PG  23.0   5-11
23              Brook Lopez  Brooklyn Nets    11.0        C  28.0    7-0
24         Chris McCullough  Brooklyn Nets     1.0       PF  21.0   6-11
25              Willie Reed  Brooklyn Nets    33.0       PF  26.0   6-10
26          Thomas Robinson  Brooklyn Nets    41.0       PF  25.0   6-10
27               Henry Sims  Brooklyn Nets    14.0        C  26.0   6-10
28             Donald Sloan  Brooklyn Nets    15.0       PG  28.0    6-3
29           Thaddeus Young  Brooklyn Nets    30.0       PF  27.0    6-8

    Weight         College      Salary
15   216.0             NaN   3425510.0
16   190.0  Oklahoma State    845059.0
17   200.0  North Carolina   1500000.0
18   220.0         Arizona   1335480.0
19   200.0    Georgia Tech   6300000.0
20   208.0             NaN   1599840.0
21   219.0      Cincinnati    134215.0
22   175.0      Miami (FL)   1500000.0
23   275.0        Stanford  19689000.0
24   200.0        Syracuse   1140240.0
25   220.0     Saint Louis    947276.0
26   237.0          Kansas    981348.0
27   248.0      Georgetown    947276.0
28   205.0       Texas A&M    947276.0
29   221.0    Georgia Tech  11235955.0  , 'New York Knicks':                       Name             Team  Number Position   Age Height  \
30           Arron Afflalo  New York Knicks     4.0       SG  30.0    6-5
31            Lou Amundson  New York Knicks    17.0       PF  33.0    6-9
32  Thanasis Antetokounmpo  New York Knicks    43.0       SF  23.0    6-7
33         Carmelo Anthony  New York Knicks     7.0       SF  32.0    6-8
34           Jose Calderon  New York Knicks     3.0       PG  34.0    6-3
35        Cleanthony Early  New York Knicks    11.0       SF  25.0    6-8
36       Langston Galloway  New York Knicks     2.0       SG  24.0    6-2
37            Jerian Grant  New York Knicks    13.0       PG  23.0    6-4
38             Robin Lopez  New York Knicks     8.0        C  28.0    7-0
39            Kyle O'Quinn  New York Knicks     9.0       PF  26.0   6-10
40      Kristaps Porzingis  New York Knicks     6.0       PF  20.0    7-3
41          Kevin Seraphin  New York Knicks     1.0        C  26.0   6-10
42            Lance Thomas  New York Knicks    42.0       SF  28.0    6-8
43           Sasha Vujacic  New York Knicks    18.0       SG  32.0    6-7
44        Derrick Williams  New York Knicks    23.0       PF  25.0    6-8
45             Tony Wroten  New York Knicks     5.0       SG  23.0    6-6

    Weight         College      Salary
30   210.0            UCLA   8000000.0
31   220.0            UNLV   1635476.0
32   205.0             NaN     30888.0
33   240.0        Syracuse  22875000.0
34   200.0             NaN   7402812.0
35   210.0   Wichita State    845059.0
36   200.0  Saint Joseph's    845059.0
37   195.0      Notre Dame   1572360.0
38   255.0        Stanford  12650000.0
39   250.0   Norfolk State   3750000.0
40   240.0             NaN   4131720.0
41   278.0             NaN   2814000.0
42   235.0            Duke   1636842.0
43   195.0             NaN    947276.0
44   240.0         Arizona   4000000.0
45   205.0      Washington    167406.0  , 'Philadelphia 76ers':                 Name                Team  Number Position   Age Height  \
46       Elton Brand  Philadelphia 76ers    42.0       PF  37.0    6-9
47     Isaiah Canaan  Philadelphia 76ers     0.0       PG  25.0    6-0
48  Robert Covington  Philadelphia 76ers    33.0       SF  25.0    6-9
49       Joel Embiid  Philadelphia 76ers    21.0        C  22.0    7-0
50      Jerami Grant  Philadelphia 76ers    39.0       SF  22.0    6-8
51    Richaun Holmes  Philadelphia 76ers    22.0       PF  22.0   6-10
52       Carl Landry  Philadelphia 76ers     7.0       PF  32.0    6-9
53  Kendall Marshall  Philadelphia 76ers     5.0       PG  24.0    6-4
54    T.J. McConnell  Philadelphia 76ers    12.0       PG  24.0    6-2
55      Nerlens Noel  Philadelphia 76ers     4.0       PF  22.0   6-11
56     Jahlil Okafor  Philadelphia 76ers     8.0        C  20.0   6-11
57         Ish Smith  Philadelphia 76ers     1.0       PG  27.0    6-0
58      Nik Stauskas  Philadelphia 76ers    11.0       SG  22.0    6-6
59   Hollis Thompson  Philadelphia 76ers    31.0       SG  25.0    6-8
60    Christian Wood  Philadelphia 76ers    35.0       PF  20.0   6-11

    Weight          College     Salary
46   254.0             Duke        NaN
47   201.0     Murray State   947276.0
48   215.0  Tennessee State  1000000.0
49   250.0           Kansas  4626960.0
50   210.0         Syracuse   845059.0
51   245.0    Bowling Green  1074169.0
52   248.0           Purdue  6500000.0
53   200.0   North Carolina  2144772.0
54   200.0          Arizona   525093.0
55   228.0         Kentucky  3457800.0
56   275.0             Duke  4582680.0
57   175.0      Wake Forest   947276.0
58   205.0         Michigan  2869440.0
59   206.0       Georgetown   947276.0
60   220.0             UNLV   525093.0  , 'Toronto Raptors':                  Name             Team  Number Position   Age Height  Weight  \
61    Bismack Biyombo  Toronto Raptors     8.0        C  23.0    6-9   245.0
62      Bruno Caboclo  Toronto Raptors    20.0       SF  20.0    6-9   205.0
63    DeMarre Carroll  Toronto Raptors     5.0       SF  29.0    6-8   212.0
64      DeMar DeRozan  Toronto Raptors    10.0       SG  26.0    6-7   220.0
65      James Johnson  Toronto Raptors     3.0       PF  29.0    6-9   250.0
66        Cory Joseph  Toronto Raptors     6.0       PG  24.0    6-3   190.0
67         Kyle Lowry  Toronto Raptors     7.0       PG  30.0    6-0   205.0
68     Lucas Nogueira  Toronto Raptors    92.0        C  23.0    7-0   220.0
69  Patrick Patterson  Toronto Raptors    54.0       PF  27.0    6-9   235.0
70      Norman Powell  Toronto Raptors    24.0       SG  23.0    6-4   215.0
71      Terrence Ross  Toronto Raptors    31.0       SF  25.0    6-7   195.0
72         Luis Scola  Toronto Raptors     4.0       PF  36.0    6-9   240.0
73     Jason Thompson  Toronto Raptors     1.0       PF  29.0   6-11   250.0
74  Jonas Valanciunas  Toronto Raptors    17.0        C  24.0    7-0   255.0
75       Delon Wright  Toronto Raptors    55.0       PG  24.0    6-5   190.0

        College      Salary
61          NaN   2814000.0
62          NaN   1524000.0
63     Missouri  13600000.0
64          USC  10050000.0
65  Wake Forest   2500000.0
66        Texas   7000000.0
67    Villanova  12000000.0
68          NaN   1842000.0
69     Kentucky   6268675.0
70         UCLA    650000.0
71   Washington   3553917.0
72          NaN   2900000.0
73        Rider    245177.0
74          NaN   4660482.0
75         Utah   1509360.0  , 'Golden State Warriors':                     Name                   Team  Number Position   Age Height  \
76       Leandro Barbosa  Golden State Warriors    19.0       SG  33.0    6-3
77       Harrison Barnes  Golden State Warriors    40.0       SF  24.0    6-8
78          Andrew Bogut  Golden State Warriors    12.0        C  31.0    7-0
79             Ian Clark  Golden State Warriors    21.0       SG  25.0    6-3
80         Stephen Curry  Golden State Warriors    30.0       PG  28.0    6-3
81          Festus Ezeli  Golden State Warriors    31.0        C  26.0   6-11
82        Draymond Green  Golden State Warriors    23.0       PF  26.0    6-7
83        Andre Iguodala  Golden State Warriors     9.0       SF  32.0    6-6
84      Shaun Livingston  Golden State Warriors    34.0       PG  30.0    6-7
85          Kevon Looney  Golden State Warriors    36.0       SF  20.0    6-9
86  James Michael McAdoo  Golden State Warriors    20.0       SF  23.0    6-9
87          Brandon Rush  Golden State Warriors     4.0       SF  30.0    6-6
88     Marreese Speights  Golden State Warriors     5.0        C  28.0   6-10
89         Klay Thompson  Golden State Warriors    11.0       SG  26.0    6-7
90      Anderson Varejao  Golden State Warriors    18.0       PF  33.0   6-11

    Weight           College      Salary
76   194.0               NaN   2500000.0
77   225.0    North Carolina   3873398.0
78   260.0              Utah  13800000.0
79   175.0           Belmont    947276.0
80   190.0          Davidson  11370786.0
81   265.0        Vanderbilt   2008748.0
82   230.0    Michigan State  14260870.0
83   215.0           Arizona  11710456.0
84   192.0               NaN   5543725.0
85   220.0              UCLA   1131960.0
86   240.0    North Carolina    845059.0
87   220.0            Kansas   1270964.0
88   255.0           Florida   3815000.0
89   215.0  Washington State  15501000.0
90   273.0               NaN    289755.0  , 'Los Angeles Clippers':                          Name                  Team  Number Position   Age  \
91               Cole Aldrich  Los Angeles Clippers    45.0        C  27.0
92                 Jeff Ayres  Los Angeles Clippers    19.0       PF  29.0
93             Jamal Crawford  Los Angeles Clippers    11.0       SG  36.0
94             Branden Dawson  Los Angeles Clippers    22.0       SF  23.0
95                 Jeff Green  Los Angeles Clippers     8.0       SF  29.0
96              Blake Griffin  Los Angeles Clippers    32.0       PF  27.0
97             Wesley Johnson  Los Angeles Clippers    33.0       SF  28.0
98             DeAndre Jordan  Los Angeles Clippers     6.0        C  27.0
99   Luc Richard Mbah a Moute  Los Angeles Clippers    12.0       PF  29.0
100                Chris Paul  Los Angeles Clippers     3.0       PG  31.0
101               Paul Pierce  Los Angeles Clippers    34.0       SF  38.0
102            Pablo Prigioni  Los Angeles Clippers     9.0       PG  39.0
103                 JJ Redick  Los Angeles Clippers     4.0       SG  31.0
104             Austin Rivers  Los Angeles Clippers    25.0       PG  23.0
105               C.J. Wilcox  Los Angeles Clippers    30.0       SG  25.0

    Height  Weight         College      Salary
91    6-11   250.0          Kansas   1100602.0
92     6-9   250.0   Arizona State    111444.0
93     6-5   195.0        Michigan   5675000.0
94     6-6   225.0  Michigan State    525093.0
95     6-9   235.0      Georgetown   9650000.0
96    6-10   251.0        Oklahoma  18907726.0
97     6-7   215.0        Syracuse   1100602.0
98    6-11   265.0       Texas A&M  19689000.0
99     6-8   230.0            UCLA    947276.0
100    6-0   175.0     Wake Forest  21468695.0
101    6-7   235.0          Kansas   3376000.0
102    6-3   185.0             NaN    947726.0
103    6-4   190.0            Duke   7085000.0
104    6-4   200.0            Duke   3110796.0
105    6-5   195.0      Washington   1159680.0  , 'Los Angeles Lakers':                   Name                Team  Number Position   Age Height  \
106       Brandon Bass  Los Angeles Lakers     2.0       PF  31.0    6-8
107        Tarik Black  Los Angeles Lakers    28.0        C  24.0    6-9
108      Anthony Brown  Los Angeles Lakers     3.0       SF  23.0    6-7
109        Kobe Bryant  Los Angeles Lakers    24.0       SF  37.0    6-6
110    Jordan Clarkson  Los Angeles Lakers     6.0       PG  24.0    6-5
111        Roy Hibbert  Los Angeles Lakers    17.0        C  29.0    7-2
112    Marcelo Huertas  Los Angeles Lakers     9.0       PG  33.0    6-3
113         Ryan Kelly  Los Angeles Lakers     4.0       PF  25.0   6-11
114    Larry Nance Jr.  Los Angeles Lakers     7.0       PF  23.0    6-9
115      Julius Randle  Los Angeles Lakers    30.0       PF  21.0    6-9
116   D'Angelo Russell  Los Angeles Lakers     1.0       PG  20.0    6-5
117       Robert Sacre  Los Angeles Lakers    50.0        C  27.0    7-0
118     Louis Williams  Los Angeles Lakers    23.0       SG  29.0    6-1
119  Metta World Peace  Los Angeles Lakers    37.0       SF  36.0    6-7
120         Nick Young  Los Angeles Lakers     0.0       SF  31.0    6-7

     Weight     College      Salary
106   250.0         LSU   3000000.0
107   250.0      Kansas    845059.0
108   210.0    Stanford    700000.0
109   212.0         NaN  25000000.0
110   194.0    Missouri    845059.0
111   270.0  Georgetown  15592217.0
112   200.0         NaN    525093.0
113   230.0        Duke   1724250.0
114   230.0     Wyoming   1155600.0
115   250.0    Kentucky   3132240.0
116   195.0  Ohio State   5103120.0
117   270.0     Gonzaga    981348.0
118   175.0         NaN   7000000.0
119   260.0  St. John's    947276.0
120   210.0         USC   5219169.0  , 'Phoenix Suns':                 Name          Team  Number Position   Age Height  Weight  \
121     Eric Bledsoe  Phoenix Suns     2.0       PG  26.0    6-1   190.0
122     Devin Booker  Phoenix Suns     1.0       SG  19.0    6-6   206.0
123   Chase Budinger  Phoenix Suns    10.0       SF  28.0    6-7   209.0
124   Tyson Chandler  Phoenix Suns     4.0        C  33.0    7-1   240.0
125   Archie Goodwin  Phoenix Suns    20.0       SG  21.0    6-5   200.0
126     John Jenkins  Phoenix Suns    23.0       SG  25.0    6-4   215.0
127   Brandon Knight  Phoenix Suns     3.0       PG  24.0    6-3   189.0
128         Alex Len  Phoenix Suns    21.0        C  22.0    7-1   260.0
129        Jon Leuer  Phoenix Suns    30.0       PF  27.0   6-10   228.0
130     Phil Pressey  Phoenix Suns    25.0       PG  25.0   5-11   175.0
131     Ronnie Price  Phoenix Suns    14.0       PG  32.0    6-2   190.0
132  Mirza Teletovic  Phoenix Suns    35.0       PF  30.0    6-9   242.0
133      P.J. Tucker  Phoenix Suns    17.0       SF  31.0    6-6   245.0
134      T.J. Warren  Phoenix Suns    12.0       SF  22.0    6-8   230.0
135    Alan Williams  Phoenix Suns    15.0        C  23.0    6-8   260.0

                  College      Salary
121              Kentucky  13500000.0
122              Kentucky   2127840.0
123               Arizona    206192.0
124                   NaN  13000000.0
125              Kentucky   1160160.0
126            Vanderbilt    981348.0
127              Kentucky  13500000.0
128              Maryland   3807120.0
129             Wisconsin   1035000.0
130              Missouri     55722.0
131           Utah Valley    947276.0
132                   NaN   5500000.0
133                 Texas   5500000.0
134  North Carolina State   2041080.0
135      UC Santa Barbara     83397.0  , 'Sacramento Kings':                     Name              Team  Number Position   Age Height  \
136           Quincy Acy  Sacramento Kings    13.0       SF  25.0    6-7
137       James Anderson  Sacramento Kings     5.0       SG  27.0    6-6
138      Marco Belinelli  Sacramento Kings     3.0       SG  30.0    6-5
139         Caron Butler  Sacramento Kings    31.0       SF  36.0    6-7
140          Omri Casspi  Sacramento Kings    18.0       SF  27.0    6-9
141  Willie Cauley-Stein  Sacramento Kings     0.0        C  22.0    7-0
142      Darren Collison  Sacramento Kings     7.0       PG  28.0    6-0
143     DeMarcus Cousins  Sacramento Kings    15.0        C  25.0   6-11
144           Seth Curry  Sacramento Kings    30.0       SG  25.0    6-2
145           Duje Dukan  Sacramento Kings    26.0       PF  24.0    6-9
146             Rudy Gay  Sacramento Kings     8.0       SF  29.0    6-8
147         Kosta Koufos  Sacramento Kings    41.0        C  27.0    7-0
148         Ben McLemore  Sacramento Kings    23.0       SG  23.0    6-5
149        Eric Moreland  Sacramento Kings    25.0       PF  24.0   6-10
150          Rajon Rondo  Sacramento Kings     9.0       PG  30.0    6-1

     Weight         College      Salary
136   240.0          Baylor    981348.0
137   213.0  Oklahoma State   1015421.0
138   210.0             NaN   6060606.0
139   228.0     Connecticut   1449187.0
140   225.0             NaN   2836186.0
141   240.0        Kentucky   3398280.0
142   175.0            UCLA   5013559.0
143   270.0        Kentucky  15851950.0
144   185.0            Duke    947276.0
145   220.0       Wisconsin    525093.0
146   230.0     Connecticut  12403101.0
147   265.0      Ohio State   7700000.0
148   195.0          Kansas   3156600.0
149   238.0    Oregon State    845059.0
150   186.0        Kentucky   9500000.0  , 'Chicago Bulls':                   Name           Team  Number Position   Age Height  Weight  \
151   Cameron Bairstow  Chicago Bulls    41.0       PF  25.0    6-9   250.0
152       Aaron Brooks  Chicago Bulls     0.0       PG  31.0    6-0   161.0
153       Jimmy Butler  Chicago Bulls    21.0       SG  26.0    6-7   220.0
154      Mike Dunleavy  Chicago Bulls    34.0       SG  35.0    6-9   230.0
155  Cristiano Felicio  Chicago Bulls     6.0       PF  23.0   6-10   275.0
156          Pau Gasol  Chicago Bulls    16.0        C  35.0    7-0   250.0
157         Taj Gibson  Chicago Bulls    22.0       PF  30.0    6-9   225.0
158     Justin Holiday  Chicago Bulls     7.0       SG  27.0    6-6   185.0
159     Doug McDermott  Chicago Bulls     3.0       SF  24.0    6-8   225.0
160     Nikola Mirotic  Chicago Bulls    44.0       PF  25.0   6-10   220.0
161      E'Twaun Moore  Chicago Bulls    55.0       SG  27.0    6-4   191.0
162        Joakim Noah  Chicago Bulls    13.0        C  31.0   6-11   232.0
163       Bobby Portis  Chicago Bulls     5.0       PF  21.0   6-11   230.0
164       Derrick Rose  Chicago Bulls     1.0       PG  27.0    6-3   190.0
165         Tony Snell  Chicago Bulls    20.0       SF  24.0    6-7   200.0

        College      Salary
151  New Mexico    845059.0
152      Oregon   2250000.0
153   Marquette  16407500.0
154        Duke   4500000.0
155         NaN    525093.0
156         NaN   7448760.0
157         USC   8500000.0
158  Washington    947276.0
159   Creighton   2380440.0
160         NaN   5543725.0
161      Purdue   1015421.0
162     Florida  13400000.0
163    Arkansas   1391160.0
164     Memphis  20093064.0

## Задание 9. Каков средний возраст игроков каждой команды?

In [ ]:
mean_age=df['Age'].mean()
print(mean_age)

26.938730853391686

## Задание 10. За какую команду выступает игрок с максимальной заработной платой?

In [ ]:
df_copy=df.copy()
cont_feat=['Name','Number','Position','Age','Height','Weight','College']
df_copy.drop(cont_feat,axis=1,inplace=True)
max_salary=df_copy['Salary'].idxmax()
print(df_copy.loc[max_salary,'Team'])

Los Angeles Lakers

## 11.Выведите TOP-5 игроков, имеющих максимальный рост

In [ ]:
def height_to_inches(height):
    if pd.isna(height):
        return np.nan
    feet, inches = map(int, height.split('-'))
    return feet * 12 + inches

df['Height_inches'] = df['Height'].apply(height_to_inches)

top_5_tallest = df.nlargest(5, 'Height_inches')
display(top_5_tallest[['Name', 'Team', 'Height', 'Height_inches']])

                   Name                Team Height  Height_inches
40   Kristaps Porzingis     New York Knicks    7-3           87.0
302    Boban Marjanovic   San Antonio Spurs    7-3           87.0
322      Walter Tavares       Atlanta Hawks    7-3           87.0
455        Tibor Pleiss           Utah Jazz    7-3           87.0
111         Roy Hibbert  Los Angeles Lakers    7-2           86.0

## 12.Определите, сколько игроков играет в каждом амплуа

In [ ]:
position_counts = df['Position'].value_counts()
display(position_counts)

Position
SG    102
PF    100
PG     92
SF     85
C      78
Name: count, dtype: int64

## 13.Каков суммарный доход игроков?

In [ ]:
sum_salary=df['Salary'].sum()
display(sum_salary)

np.float64(2159837111.0)

## 14.Игроки какой команды образованны более других?

In [ ]:
df_copy=df.copy()
team_edu = (df_copy.groupby('Team').agg(
    total_players=('Name','count'),
    with_college=('College','count'),)
)
team_edu['college_rate']=team_edu['with_college']/team_edu['total_players']
team_edu=team_edu.sort_values('college_rate',ascending=False).head(1)
print('Самая образованная команда')
display(team_edu)

Самая образованная команда

                 total_players  with_college  college_rate
Team
Detroit Pistons             15            15           1.0

## 15.Есть ли связь между образованием и заработной платой игрока?

In [ ]:
df_copy=df.copy()
df_copy['has_college']=df_copy['College'].notna()
res=df_copy.groupby('has_college')['Salary'].agg(
    count='count',
    mean='mean',
    median='median'
)
display(res)

             count          mean     median
has_college
False           82  5.829803e+06  3975000.5
True           364  4.620311e+06  2515440.0